*
{
 padding: 0;
 margin:
 box-sizing: border-box;
}

body 
{
background-image: url(C:/Users/e6430/practice/chkn.jpg);
background-size: cover;
/*background-position: center; */

font-family: sans-serif;
}
.menu-bar
{
 text-align:left;
}
.menu-bar ul
{
display: inline-flex;
background: white;
list-style: none;
color:black;
}
.menu-bar ul li
{
    width: 100px;
    margin: 15px;
    padding: 10px;
}
h1{
    text-align:center;
}