
   h2{
    text-align: center;
    background-color:orange;
   }
   
  
   span{
    font-size: 20px;
    position: relative;
    text-align: center;
    background-color: white;
    color: black;
   }
   label{
    width: 500px;
    display: inline-block;
    text-align:right;
    padding: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    }
   .chicken-menu,.shrimp-menu,.sides-menu,.drinks-menu{
      width: 300px;
      border-radius: 8px;
      box-shadow: 5px 3px 3px rgb(73, 64, 64);
      margin-left: 2rem;
      display: inline-block;
      padding-right:40px;
     
   }

   
    img
    {
      width:100%;

    }
    .chicken-header{
      margin: 2rem auto;
      background-color:white;
      
    }
    p{
      margin: 1rem;
      text-align: center;
    }
 .footer-section
   {
   display: inline-block;
   }
   button
   {
   margin: 2rem auto;
    padding:1rem  2.25rem ;
    font-size: 1rem;
    
    background-color: white;
    border: black;
    border-radius: 4px;
    box-shadow: 2px 2px 3px gray;
   }

   button:hover{
    cursor: pointer;
   }
   button:active{
    transform: scale(0.5);
   }
   .btn-add
   {
     border:1px solid green;
     background-color: rgba(0, 255, 0, 0.048);
     color:green;

   }

   .btn-remove
   {
     border:1px solid red;
     background-color: rgba( 255, 0,  0, 0.048);
     color:red;
   }