
   h2{
    text-align: center;
    background-color:orange;
   }
 
   span{
    font-size: 20px;
    position: relative;
    text-align: center;
    background-color: white;
    color: black;
   }
   label{
    width: 500px;
    display: inline-block;
    text-align:right;
    padding: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    }
   
    